

/* Body */
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    margin-top: 0;
}

/* image */
.profile-pic {
    width: 200px;
    height: 220px;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.profile-pic:hover, .profile-pic:focus {
    transform: scale(1.05);
    filter: brightness(1.05);
}

/* Container */
.container {
    width: 600px;
    margin: 0 auto;
}

/* Typography */
header h1 {
    font-size: 60px;
}
section h2 {
    font-size: 42px;
    margin-top: 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}
header h1, section h2 {
    font-weight: 300;
    margin-top: 0;
}
header h1 .bold {
    font-size: 80px;
}
section h2 .bold {
    font-size: 60px;
}
.name, time {
    font-weight: bold;
}
h1 .bold, h2 .bold, .name, time {
    color: dodgerblue;
}
section h3 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}
section p {
    margin-bottom: 0;
    line-height: 25px;
}
.bold {
    display: block;
    font-weight: bold;
}
.small-text {
    font-size: 16px;
    margin: 2px;
}


/* Link */
.link {
    color: dodgerblue;
    font-weight: 900;
    cursor: pointer;
}
.link:hover, .link:focus {
    color: #c3a913;
}

/* background color */
.color {
    background-color: #fff;
    color: #252525;
    padding: 100px;
}
.inverse {
    background-color: #252525;
    color: #fff;
}
.color-red {
    color:dodgerblue;
}

/* Buttons */

.btn1, .btn2 {
    background-color: dodgerblue;
    color: #252525;
    padding:10px 20px; 
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn1:hover, .btn1:focus {
    transform: translateY(-3px);
    background-color: #252525;
    color: #fff;
}
.btn2:hover, .btn2:focus {
    transform: translateY(-3px);
    background-color: #fd3a4a;;
    color: #252525;
}
.btn1:active {
    transform: translateY(3px);
    }
.btn2:active {
    transform: translateY(3px);
}